[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
pillow = "*"
passlib = "*"
cryptography = "*"
flask-cors = "*"
opencv-python = "*"
mutagen = "*"
waitress = "*"

[dev-packages]
black = "*"
requests = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
